div {
    background-color: rgba(0, 255, 47, 0.323);
}

.container {
    display: block;
}

.box {
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-color: blue;
    color: yellow;
    align-content: center;
    text-align: center;
    flex-grow: 1;
}