  .container {
      text-align: center;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f0f0f0;
  }

  .text {
      color: #333;
      font-size: 24px;
      margin-bottom: 20px;
  }

  .highlight {
      color: #ff5733;
  }

  .poor-visibility {
      color: #fafafa;
  }